<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals Classifier</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h2 style='font-family: Arial, sans-serif';>Animals Classifier</h2>

<div class="text-block">
    <p>This image classifier allows you to upload an image and get a prediction of what the image represents. 
    It supports images in .png, .jpg, and .jpeg formats.<br/><br/>
    The model is trained on various classes of animals to provide accurate predictions.<br/><br/>Simply upload an image file, click on the 'Predict!' button, and wait for the result. </p>
</div>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview"></div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg" id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result"><span></span></h3>
</div>

<script>
document.getElementById('imageUpload').addEventListener('change', function() {
    var file = this.files[0];
    var reader = new FileReader();
    
    reader.onload = function(e) {
        var img = document.createElement('img');
        img.src = e.target.result;
        img.onload = function() {
            var imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = '';
            imagePreview.appendChild(img);
        }
    }
    
    reader.readAsDataURL(file);
    document.querySelector('.image-section').style.display = 'block';
});

document.getElementById('btn-predict').addEventListener('click', function() {
    var formData = new FormData(document.getElementById('upload-file'));
    var loader = document.querySelector('.loader');
    var result = document.getElementById('result');
    
    loader.style.display = 'block';
    result.querySelector('span').innerText = '';
    
    fetch('/predict', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        loader.style.display = 'none';
        result.querySelector('span').innerText = 'Prediction: ' + data.prediction;
    })
    .catch(error => {
        loader.style.display = 'none';
        result.querySelector('span').innerText = 'Error: ' + error;
    });
});
</script>

<div class="footer">
    Footer Content
</div>

</body>
</html>
