.text-block {
    font-family: Arial, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #084839;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.upload-label {
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #c28720;
    border-color: #c28720;
    font-family: Arial, sans-serif;

.predict-label {
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #c28720;
    border-color: #c28720;
    font-family: Arial, sans-serif;

}
#imageUpload {
    display: none;
}
.image-section {
    margin-top: 20px;
}
.img-preview {
    text-align: center;
}
.img-preview img {
    width: 100%;
    max-width: 400px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    font-family: Arial, sans-serif;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}